.list {
  top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  left: 0;
  text-align: center;
  margin-top: 8px;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
select {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1.5px;
  outline: none;
  cursor: pointer;
  padding: 10px 2rem;
  position: relative;
  border-radius: 8px;
}

.regionList {
  order: none;
  outline: none;
  padding: 0.5rem 2rem;
}
.darkMode {
  color: var(--Very-Light-Gray);
  background-color: var(--Dark-Blue);
}
.lightMode{
color: var(--Dark-Blue);
background-color: var(--Very-Light-Gray);
}
option{
    border-radius: 5px;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}