.spinner {
  animation: rotate 0.4s alternate-reverse infinite;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 7px solid hsl(208, 20%, 33%);
  border-left: white 7px solid;
}

.spinnerContainer{
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
