.form {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 88%;
}

@media (max-width: 890px) {
  .form {
    flex-direction: column;
    align-items: start;
  }
  .search {
    width: 20rem;
  }
}
@media (max-width: 440px) {
  .searchBar {
    width: 90%;
  }
  .form {
    padding: 3rem 2rem;
  }
}
